<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Requests</h2></div>
    <table class="table table-boarded">
        <thead class="thead-dark">
        <tr>
            <th>request_id</th>
            <th>request_title</th>
            <th>request_desc</th>
            <th>created_by</th>
            <th>created_on</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${listUsers}">
        <tr>
            <td>[[${{user.request_id}}]]</td>
            <td>[[${{user.request_title}}]]</td>
            <td>[[${{user.request_desc}}]]</td>
            <td>[[${{user.created_by}}]]</td>
            <td>[[${{user.created_on}}]]</td>
        </tr>

        </th:block>
    </table>
</div>

</body>
</html>